<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../css/styles.css" />
    <title>DBMS project</title>
  </head>
  <body>
    <div class=" loginbg page"></div>
    <h1 class ="admin-login">ADMIN LOGIN</h1>
    <div class="login-container">
      <form action="/" method="POST">
        <label for="id">User id:</label><br />
        <input type="text" name="id" /><br /><br />
        <label for="usernname">User name:</label><br />
        <input type="text" name="username" /><br /><br />
        <label for="password">Password:</label><br />
        <input type="password" name="password" />
        <button class="login-btn" type="submit">Log in</button>
      </form>
    </div>
  </body>
</html>
