<%- include("partials/header.ejs") %>
<h1>Here's what you are looking for:</h1>
<div class="result">
  <% if (result && result.length > 0) { %>
  <table>
    <thead>
      <tr>
        <% Object.keys(result[0]).forEach(key => { %>
        <th><%= key %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <% result.forEach(row => { %>
      <tr>
        <% Object.values(row).forEach(value => { %>
        <td><%= value %></td>
        <% }); %>
      </tr>
      <% }); %>
    </tbody>
  </table>
  <% } if(!result){ %>
  <p>kindly check your sql query syntax</p>
  <% } else { %>
  <p>Executed successfully.</p>
  <% } %>
</div>

<%- include("partials/footer.ejs") %>
