<%- include("partials/header.ejs") %>
<h1>Here's what you are looking for:</h1>
<div class="result">
  <table>
    <thead>
      <tr>
        <% Object.keys(result[0]).forEach(key => { %>
        <th><%= key %></th>
        <% }); %>
      </tr>
    </thead>
    <tbody>
      <% result.forEach(row => { %>
      <tr>
        <% Object.values(row).forEach(value => { %>
        <td><%= value %></td>
        <% }); %>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>

<%- include("partials/footer.ejs") %>
